language: java
jdk:
  - openjdk17

branches:
  only:
    - main

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

# gradlew에 실행 권한 부여
before_script:
  - chmod +x gradlew

script:
  - ./gradlew clean build

# 빌드 실패 시에도 알림
notifications:
  email:
    recipients:
      - a.joon0428@gmail.com
    on_success: change  # 상태가 변경될 때만
    on_failure: always   # 실패 시 항상